<div class="dialogs modal-body medium-input">

<h3>Format code?</h3>    

@*@((MarkupString)message)*@

<SfTextBox Multiline=true Value="@message" Enabled="false" ></SfTextBox>

    <div>As:
        <br />
        <SfRadioButton Label="None" Name="options" Value="none" @bind-Checked="stringChecked"></SfRadioButton>
        <br />
        <SfRadioButton Label="C#" Name="options" Value="csharp" @bind-Checked="stringChecked"></SfRadioButton>
        <br />
        <SfRadioButton Label="Css" Name="options" Value="css" @bind-Checked="stringChecked"></SfRadioButton>
        <br />
        <SfRadioButton Label="Javascript" Name="options" Value="js" @bind-Checked="stringChecked"></SfRadioButton>

        <br />
        <SfRadioButton Label="Json" Name="options" Value="json" @bind-Checked="stringChecked"></SfRadioButton>

@*        <br />
        <SfRadioButton Label="Razor" Name="options" Value="razor" @bind-Checked="stringChecked"></SfRadioButton>
*@        
        <br />
        <SfRadioButton Label="Html" Name="options" Value="html" @bind-Checked="stringChecked"></SfRadioButton>
        <br />
        <SfRadioButton Label="C++" Name="options" Value="cpp" @bind-Checked="stringChecked"></SfRadioButton>
        <br />
        <SfRadioButton Label="C" Name="options" Value="c" @bind-Checked="stringChecked"></SfRadioButton>

    </div>

    <button type="button" @onclick="Ok" class="btn btn-success btn-sm">Ok</button>
    <button type="button" @onclick="Cancel" class="btn btn-info btn-sm">Close</button>
</div>



