@page "/notesfiles"

@inject HttpClient Http
@inject NavigationManager Navigation

<h3>NotesFiles</h3>

@if( UserData == null)
{
    <p class=""><em>Loading...</em></p>
}
else
{

    <SfGrid DataSource="@Files" EnableAltRow="true" AllowPaging="true" AllowSelection="true" EnableHover="true" Toolbar="@(new List<object>() { "Print" })">
        <GridPageSettings PageSize="20"></GridPageSettings>
        <GridEvents RowSelected="DisplayIt" TValue="NoteFile"></GridEvents>
        <GridColumns>
            <GridColumn Field=@nameof(NoteFile.NoteFileName) HeaderText="NoteFile Name" TextAlign="TextAlign.Left" Width="80" IsPrimaryKey="true"></GridColumn>
            <GridColumn Field=@nameof(NoteFile.NoteFileTitle) HeaderText="NoteFile Title" TextAlign="TextAlign.Left" Width="150"></GridColumn>

            <GridColumn HeaderText="Date/Time" TextAlign="TextAlign.Left" Width="60">
                <Template Context="inner">
                @{
                    var itemx = (inner as NoteFile);
                    DateTime curTimex = Globals.LocalTimeBlazor(itemx.LastEdited);
                    string tellx = curTimex.ToShortDateString() + " " + curTimex.ToShortTimeString();
                    <span>@tellx</span>
                 }
                </Template> 
            </GridColumn>
        </GridColumns>
    </SfGrid>
}

@code {
    private List<NoteFile> Files { get; set; }
    private UserData UserData { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        HomePageModel model = await Http.GetFromJsonAsync<HomePageModel>("api/HomePageData");
        Files = model.NoteFiles;
        UserData = model.UserData;
        if (UserData.Ipref2 == 0)
            UserData.Ipref2 = 10;
    }

    protected void DisplayIt(RowSelectEventArgs<NoteFile> args)
    {
        Navigation.NavigateTo("/noteindex/" + args.Data.Id);
    }
}
